.navbar {
    width:100vw;
    height:5vh;
    padding: 0;
    margin-top:0;
    margin-bottom: 1vh;
    border: 1px solid gray;
    border-radius: 5px;
    font-size:x-large;
    font-weight: 9000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.nav-item{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: filter 150ms;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li:hover {
    filter: brightness(1.6);
}

a {
    text-decoration: none;
}